@keyframes transitionIn{
    from{
        opacity: 0;
        transform: rotateX(-10deg);
    }
  
    to{
        opacity: 1;
        transform: rotateX(0);
    }
  }

  .text{
      background: linear-gradient(90deg, #f0027f, #75489f);
  }

  img{
      width: 100%;
  }

.carousel{
    position: relative;
    height: 600px;
    width: 80%;
    margin: 0 auto;
}

.carousel__image{
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    float: left;
}

.carousel__track-container{
    height: 100%;
    position: relative;
    overflow: hidden;
    left: 0;
}

.carousel__track{
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 400ms ease-in;
}

.carousel__slide{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel__button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    cursor: pointer;
    outline: none;
}

.carousel__button i{
    font-size: 30px;
    animation: transitionIn 0.75s; 
}

.carousel__button--left{
    left: -40px;
}

.carousel__button--right{
    right: -40px;
}

.carousel__nav{
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.carousel__indicator{
    border: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: rgba(0, 0, 0, .3);
    margin: 0 10px;
    cursor: pointer;
    outline: none;
}

.carousel__indicator.current-slide{
    background: rgba(0, 0, 0 , .75)
}

.carousel__info{
    position: absolute;
    top: 10px;
    left: 25%;
    color: white;
}

.is-hidden {display: none;}

.container{
    max-width: 1100px;
    margin: auto;
    overflow: auto;
    padding: 0 2rem;
    width: 100%;
}

.card{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 2rem;
    background: #f1f1f1;
    margin-bottom: 2rem;   
    font-size: large;
}

.card h3{
    margin-bottom: 2rem;
}

.card img{
    height: 400px; /*100% */
}

.card > div{
    padding: 2rem;
}

.card:nth-child(even) img{
    order: 2;
}

@media screen and (max-width: 768px){
    .card{
        display: block;
    }

    body{
        overflow-x: hidden;
    }

    .carousel{
        overflow-x:initial;
    }

    .carousel__info{
        color: black;
    }
}